<html>
    <head>
        <title>
            <%var title = "DK"%>
            <%=locals.title%>
        </title>
    </head>
    <body>
        <ul>
            <% for(let i=0;i<5;i++) { %>
                <li>
                        <% var j = 10; %>
                        <%=i%>
                        
                </li>
                <%=j%>
            <%}%>
        </ul>
    </body>
</html>